<launch>
    <param name="robot_description" command="$(find xacro)/xacro $(find hachiroku_bot)/urdf/hachiroku_bot.xacro"/>
    
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
    
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find hachiroku_bot)/rviz/hachiroku_bot.rviz" />
</launch>